<!DOCTYPE html>
<html>
<head>
<title>{{ siteName }}</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/css/bootstrap.css" />
<link rel="stylesheet" href="/css/bootstrap.flat.css" />
<link rel="stylesheet" href="/css/1140.css" />
<link rel="stylesheet" href="/css/sex.css" />
<script src="/js/jquery-2.0.3.min.js"></script>
<script src="https://api.trello.com/1/client.js?key={{ apiKey }}"></script>
</head>
<body>
{% include 'nav.html' %}
<div class="container16">
  {% block content %}{% endblock %}
</div>

<script>

var ORG_NAME = 'richmondday';
$(function() {

  Trello.authorize({
    interactive:false,
    success: AuthComplete,
  });

  $('#loginlink').click(function() {
    Trello.authorize({
      type:"popup",
      scope: { read: true, write:true, account:true },
      success: AuthComplete
    });
  });

  $('#logout').click(function() {
    Trello.deauthorize();
    updateLoggedIn();
  });

  updateLoggedIn();
});

var AuthComplete = function() {
  updateLoggedIn();
  $('#boards').empty();

  Trello.organizations.get(ORG_NAME, function(org) {
    console.log(org);
  });

  Trello.members.get('me', function(member) {
    $('#member_info').html('Logged in as '  + member.fullName);
  });

  var $boards = $('#boards')
        .text('Loading boards...');

  // show boards
  Trello.get('organizations/'+ ORG_NAME + '/boards', function(boards) {
    $boards.empty();
    $.each(boards, function(idx, board) {
      if(!board.closed) {
        var item = $("<div>")
            .addClass('column3');

        var entry = $("<a>")
            .attr({ href: board.url, target:"trello", id:idx})
            .text(board.name)
            .appendTo(item);

        item.appendTo('#boards');
      }
    });
  });
};

var updateLoggedIn = function() {
  var isLoggedIn = Trello.authorized();
  $("#loggedout").toggle(!isLoggedIn);
  $("#loggedin").toggle(isLoggedIn);
  $("#loggedin-header").toggle(isLoggedIn);
};
</script>
</body>
</html>
